

/* Estilo para boton de play */

.contenedor-play{
  position: relative; 
  display: inline-block; 
  text-align: center;
}

.boton-play{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vh;
  color: #9b9b9b;
}
.boton-play:hover {
  color: #252526;
  cursor: pointer;
}
/* =================================== */
/*evita que el video salga de la pantalla cuando se achica*/
@media(max-width:511px){
  video{width:100%;}
}